<footer>
  <div class="footer-logo">
    <img src="../assets/img/logo.svg" alt="Synthetica Logo">
    <p>An experience design collective curated by <span>designers</span>, for <span>designers</span>.</p>
    <!-- <hr> -->
    <div class="footer-navigation">
      <nav>
        <ul>
          <li><a href="#collective">The Collective</a></li>
          <li><a href="#crew">The Crew</a></li>
          <li><a href="#freebies">Freebies</a></li>
          <span>
            <li><a href="#">Licence</a></li>
            <li><a href="#">Share</a></li>
          </span>
        </ul>
      </nav>
    </div>
  </div>
  <div class="copyright">
    <p>© Synthetica 2016. Design & Development by Peter Finlan</p>
  </div>

</footer>
