<div class="top-header">
    <div class="logo">
      <a href="#home-scroll">
        <img src="assets/img/header/logo.png" alt="Synthetica Logo">
      </a>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="#collective">The Collective</a></li>
                <li><a href="#crew">The Crew</a></li>
                <li><a href="#freebies">Freebies</a></li>
            </ul>
        </nav>
    </div>
</div>
<header>
    <div class="hero">
        <div class="header-text">
            <h1>Curated goodies for Designers & Developers</h1>
            <button type="">Latest Collection</button>
            <hr class="header-hr">
            <p>Synthetica is an <span>experience design collective</span>, bringing you the latest product, interaction and visual design goodies straight to your inbox.</p>
        </div>
    </div>

</header>
